@charset "UTF-8";

form {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: teal;
	border-radius: 8px;
}

div.elemform {
	display: block;
}

label {
	color: lime;
}


legend {
	color: lime;
	border:	solid lime;
}

input[type="text"], input[type="tel"], input[type="mail"], input[type="address"]
	{
	margin: 5px;
}

textarea {
	width: 50%;
}

div.submitreset {
	width: 100%;
}

div.submitreset input {
	width: 49%;
	height: 35px;
	margin-left: 0.5%;
	background-color: lime;
	color: white;
	font-size: large;
	border-radius: 8px;
}

div.submitreset input[type="reset"] {
	background-color: red;
}